body{
    box-sizing: border-box;
    width: 100;
    height: 100;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    border: none;
    margin: 65px auto;
    padding: 25px;
    background: radial-gradient(circle at 1.3% 2.8%, rgb(239, 249, 249) 0%, rgb(182, 199, 226) 100.2%);
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

h1{
    font-size: 60px;
    margin: 0;
}

.main-content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

p{
    font-size: 20px;
    margin: 10px;
}

input{
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 60%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btnSearch{
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btnSearch:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    
}

.weather-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}

.date{
    font-size: 30px;
    font-weight: bold;
    color: rgb(61, 57, 57);
}

.special{
    color: rgb(196, 12, 12);
}

.temperature{
    font-size: 80px;
    color: rgb(61, 57, 57);
}

.main-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}